/* For title we use #
    For html elements we directly write
    For other elements we use .
 */
#title{
    
        background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
        background-size: 180% 180%;
        animation: gradient-animation 18s ease infinite;
      }
      
      @keyframes gradient-animation {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.container-fluid{
    padding: 3% 15% 15%;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
}

.navbar{
    padding-bottom: 4.5rem;
}

.nav-item{
    padding: 0px 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.download-button{
    margin: 5% 3% 5% 0;
}

.title-img{
    transform: rotate(25deg);
    width: 25%;
    position: absolute;
    right: 25%;
}

#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
    
}

.feature-box{
    text-align: center;
    padding: 5%;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-top: 5px;
}

p{
    color: grey;
}

.icons{
    color: #ef8172;
}
.icons:hover{
    color: #ff4c68;
}

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: white;
}



.testimonial-image{
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-icon{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.5;
    font-size: 3rem;
}


#pricing{
    padding: 100px 150px;
    text-align: center;
}

.pricing-card{
    padding: 3% 2%;
}


@media (max-width: 1220px) {
    .title-img{
        position: static;
        width: 60%;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }

}



#cta{
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  text-align: center;
    padding: 5% 12%;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
    
}

.cta-txt{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: white;
    font-size: 4rem;
    line-height: 1.5;
}

.download-btn{
    margin: 3% 1.5%;
}
#footer{
    background-color: white;
    text-align: center;
    padding: 5%;
}

.f-icon{
    padding: 0% 1.5% 2%;
}